<!DOCTYPE html>
<html>
<head>
<title>Sheetdex</title>
</head>
<body>
<h1>Sheetdex</h1>
<h2>Query</h2>
<form action="/" method="get">
  <div>
    <input type="text" name="query" size="80" value="<%= query %>">
  </div>
  <input type="submit" value="Submit">
</form>
<h2>Output</h2>
<pre>
<%= output %>
</pre>
</body>
</html>
