<!DOCTYPE html>
<html>
<head>
<title>Sheetdex</title>
<script type="text/javascript" src="https://gitcdn.link/repo/ag-grid/ag-grid/master/dist/ag-grid-community.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://gitcdn.link/repo/ag-grid/ag-grid/master/dist/styles/ag-grid.css">
<link rel="stylesheet" type="text/css" href="https://gitcdn.link/repo/ag-grid/ag-grid/master/dist/styles/ag-theme-balham.css">
</head>
<body>
<h1>Sheetdex</h1>
Search for sheet music in a large collection of fake and real books.
<h2>Sheet title</h2>
<form action="/" method="get">
  <div>
    <input type="text" name="query" size="80" value="<%= query %>">
  </div>
  <input type="submit" value="Submit">
</form>
<h2>Results</h2>
<div id="myGrid" style="max-height: 100%;width: 100%" class="ag-theme-balham"></div>
<script>
const gridOptions = {
  defaultColDef: {
      resizable: true
  },
  columnDefs: [
    {headerName: 'Sheet', field: 'sheet', sortable: true},
    {headerName: 'Book', field: 'book', sortable: true},
    {headerName: 'Page', field: 'page'}
  ],
  rowData: <%- results %>
};
let eGridDiv = document.querySelector('#myGrid');
new agGrid.Grid(eGridDiv, gridOptions);
</script>
</body>
</html>
